In [25]:
import numpy as np
import pandas as pd

In [26]:
class CreateSampleDataset():
    def __init__(self, n_teachers=1000, school_teacher_ratio=1.2, teacher_per_school=15., p_rural=0.3, p_car=0.7, p_experienced=0.2):
        self.n_teachers = n_teachers
        self.n_schools = int(n_teachers * school_teacher_ratio / teacher_per_school)
        self.p_rural = p_rural
        self.p_car = p_car
        self.p_experienced = p_experienced

    def _createTeachers(self):
        x_location = np.random.uniform(0., 1., self.n_teachers)
        y_location = np.random.uniform(0., 1., self.n_teachers)
        rural = np.random.choice([0, 1], p=[1 - self.p_rural, self.p_rural], size=self.n_teachers)
        car = np.random.choice([0, 1], p=[1 - self.p_car, self.p_car], size=self.n_teachers)
        experienced = np.random.choice([0, 1], p=[1 - self.p_experienced, self.p_experienced], size=self.n_teachers)
        teachers = {'x_location': x_location,
                    'y_location': y_location,
                    'rural': rural,
                    'car': car,
                    'experienced': experienced,
                    }

        return teachers

    def _createSchools(self):
        x_location = np.random.uniform(0., 1., self.n_schools)
        y_location = np.random.uniform(0., 1., self.n_schools)
        rural = np.random.choice([0, 1], p=[1 - self.p_rural, self.p_rural], size=self.n_schools)
        schools = {'x_location': x_location,
                   'y_location': y_location,
                   'rural': rural,
                   }

        return schools

    def make_dataset(self):
        teachers = pd.DataFrame(self._createTeachers())
        schools = pd.DataFrame(self._createSchools())

        return teachers, schools

In [27]:
DatasetSampler = CreateSampleDataset()

In [28]:
teachers, schools = DatasetSampler.make_dataset()

In [29]:
teachers.head()

   x_location  y_location  rural  car  experienced
0    0.774449    0.704370      0    0            0
1    0.524804    0.464883      0    1            1
2    0.145980    0.847938      0    1            0
3    0.277602    0.033729      0    0            0
4    0.357989    0.889316      0    1            1

In [30]:
schools.head()

   x_location  y_location  rural
0    0.370330    0.336226      0
1    0.094853    0.328831      0
2    0.124946    0.405877      0
3    0.034606    0.587243      0
4    0.205876    0.428083      0